.color-0 {
  background-color: #586f86; }

.color-1 {
  background-color: #586c86; }

.color-2 {
  background-color: #586986; }

.color-3 {
  background-color: #586786; }

.color-4 {
  background-color: #586486; }

.color-5 {
  background-color: #586186; }

.color-6 {
  background-color: #585e86; }

.color-7 {
  background-color: #585c86; }

.color-8 {
  background-color: #585986; }

.color-9 {
  background-color: #5a5886; }

.color-10 {
  background-color: #5d5886; }

.color-11 {
  background-color: #5f5886; }

.color-12 {
  background-color: #625886; }

.color-13 {
  background-color: #655886; }

.color-14 {
  background-color: #685886; }

.color-15 {
  background-color: #6a5886; }

.color-16 {
  background-color: #6d5886; }

.color-17 {
  background-color: #705886; }

.color-18 {
  background-color: #735886; }

.color-19 {
  background-color: #755886; }

.color-20 {
  background-color: #785886; }

.color-21 {
  background-color: #7b5886; }

.color-22 {
  background-color: #7e5886; }

.color-23 {
  background-color: #805886; }

.color-24 {
  background-color: #835886; }

.color-25 {
  background-color: #865886; }

.color-26 {
  background-color: #865883; }

.color-27 {
  background-color: #865880; }

.color-28 {
  background-color: #86587e; }

.color-29 {
  background-color: #86587b; }

.color-30 {
  background-color: #865878; }

.color-31 {
  background-color: #865875; }

.color-32 {
  background-color: #865873; }

.color-33 {
  background-color: #865870; }

.color-34 {
  background-color: #86586d; }

.color-35 {
  background-color: #86586a; }

.color-36 {
  background-color: #865868; }

.color-37 {
  background-color: #865865; }

.color-38 {
  background-color: #865862; }

.color-39 {
  background-color: #86585f; }

.color-40 {
  background-color: #86585d; }

.color-41 {
  background-color: #86585a; }

.color-42 {
  background-color: #865958; }

.color-43 {
  background-color: #865c58; }

.color-44 {
  background-color: #865e58; }

.color-45 {
  background-color: #866158; }

.color-46 {
  background-color: #866458; }

.color-47 {
  background-color: #866758; }

.color-48 {
  background-color: #866958; }

.color-49 {
  background-color: #866c58; }

.color-50 {
  background-color: #866f58; }

.color-51 {
  background-color: #867258; }

.color-52 {
  background-color: #867558; }

.color-53 {
  background-color: #867758; }

.color-54 {
  background-color: #867a58; }

.color-55 {
  background-color: #867d58; }

.color-56 {
  background-color: #868058; }

.color-57 {
  background-color: #868258; }

.color-58 {
  background-color: #868558; }

.color-59 {
  background-color: #848658; }

.color-60 {
  background-color: #818658; }

.color-61 {
  background-color: #7f8658; }

.color-62 {
  background-color: #7c8658; }

.color-63 {
  background-color: #798658; }

.color-64 {
  background-color: #768658; }

.color-65 {
  background-color: #748658; }

.color-66 {
  background-color: #718658; }

.color-67 {
  background-color: #6e8658; }

.color-68 {
  background-color: #6b8658; }

.color-69 {
  background-color: #698658; }

.color-70 {
  background-color: #668658; }

.color-71 {
  background-color: #638658; }

.color-72 {
  background-color: #608658; }

.color-73 {
  background-color: #5e8658; }

.color-74 {
  background-color: #5b8658; }

.color-75 {
  background-color: #588658; }

.color-76 {
  background-color: #58865b; }

.color-77 {
  background-color: #58865e; }

.color-78 {
  background-color: #588660; }

.color-79 {
  background-color: #588663; }

.color-80 {
  background-color: #588666; }

.color-81 {
  background-color: #588669; }

.color-82 {
  background-color: #58866b; }

.color-83 {
  background-color: #58866e; }

.color-84 {
  background-color: #588671; }

.color-85 {
  background-color: #588674; }

.color-86 {
  background-color: #588676; }

.color-87 {
  background-color: #588679; }

.color-88 {
  background-color: #58867c; }

.color-89 {
  background-color: #58867f; }

.color-90 {
  background-color: #588681; }

.color-91 {
  background-color: #588684; }

.color-92 {
  background-color: #588586; }

.color-93 {
  background-color: #588286; }

.color-94 {
  background-color: #588086; }

.color-95 {
  background-color: #587d86; }

.color-96 {
  background-color: #587a86; }

.color-97 {
  background-color: #587786; }

.color-98 {
  background-color: #587586; }

.color-99 {
  background-color: #587286; }

.color-100 {
  background-color: #586f86; }
