.color-0 {
  background-color: #0f365c; }

.color-1 {
  background-color: #0f315c; }

.color-2 {
  background-color: #0f2d5c; }

.color-3 {
  background-color: #0f285c; }

.color-4 {
  background-color: #0f245c; }

.color-5 {
  background-color: #0f1f5c; }

.color-6 {
  background-color: #0f1a5c; }

.color-7 {
  background-color: #0f165c; }

.color-8 {
  background-color: #0f115c; }

.color-9 {
  background-color: #120f5c; }

.color-10 {
  background-color: #160f5c; }

.color-11 {
  background-color: #1b0f5c; }

.color-12 {
  background-color: #1f0f5c; }

.color-13 {
  background-color: #240f5c; }

.color-14 {
  background-color: #290f5c; }

.color-15 {
  background-color: #2d0f5c; }

.color-16 {
  background-color: #320f5c; }

.color-17 {
  background-color: #370f5c; }

.color-18 {
  background-color: #3b0f5c; }

.color-19 {
  background-color: #400f5c; }

.color-20 {
  background-color: #440f5c; }

.color-21 {
  background-color: #490f5c; }

.color-22 {
  background-color: #4e0f5c; }

.color-23 {
  background-color: #520f5c; }

.color-24 {
  background-color: #570f5c; }

.color-25 {
  background-color: #5c0f5c; }

.color-26 {
  background-color: #5c0f58; }

.color-27 {
  background-color: #5c0f53; }

.color-28 {
  background-color: #5c0f4f; }

.color-29 {
  background-color: #5c0f4a; }

.color-30 {
  background-color: #5c0f45; }

.color-31 {
  background-color: #5c0f41; }

.color-32 {
  background-color: #5c0f3c; }

.color-33 {
  background-color: #5c0f38; }

.color-34 {
  background-color: #5c0f33; }

.color-35 {
  background-color: #5c0f2e; }

.color-36 {
  background-color: #5c0f2a; }

.color-37 {
  background-color: #5c0f25; }

.color-38 {
  background-color: #5c0f20; }

.color-39 {
  background-color: #5c0f1c; }

.color-40 {
  background-color: #5c0f17; }

.color-41 {
  background-color: #5c0f13; }

.color-42 {
  background-color: #5c100f; }

.color-43 {
  background-color: #5c150f; }

.color-44 {
  background-color: #5c190f; }

.color-45 {
  background-color: #5c1e0f; }

.color-46 {
  background-color: #5c230f; }

.color-47 {
  background-color: #5c270f; }

.color-48 {
  background-color: #5c2c0f; }

.color-49 {
  background-color: #5c300f; }

.color-50 {
  background-color: #5c350f; }

.color-51 {
  background-color: #5c3a0f; }

.color-52 {
  background-color: #5c3e0f; }

.color-53 {
  background-color: #5c430f; }

.color-54 {
  background-color: #5c470f; }

.color-55 {
  background-color: #5c4c0f; }

.color-56 {
  background-color: #5c510f; }

.color-57 {
  background-color: #5c550f; }

.color-58 {
  background-color: #5c5a0f; }

.color-59 {
  background-color: #595c0f; }

.color-60 {
  background-color: #555c0f; }

.color-61 {
  background-color: #505c0f; }

.color-62 {
  background-color: #4c5c0f; }

.color-63 {
  background-color: #475c0f; }

.color-64 {
  background-color: #425c0f; }

.color-65 {
  background-color: #3e5c0f; }

.color-66 {
  background-color: #395c0f; }

.color-67 {
  background-color: #345c0f; }

.color-68 {
  background-color: #305c0f; }

.color-69 {
  background-color: #2b5c0f; }

.color-70 {
  background-color: #275c0f; }

.color-71 {
  background-color: #225c0f; }

.color-72 {
  background-color: #1d5c0f; }

.color-73 {
  background-color: #195c0f; }

.color-74 {
  background-color: #145c0f; }

.color-75 {
  background-color: #105c0f; }

.color-76 {
  background-color: #0f5c13; }

.color-77 {
  background-color: #0f5c18; }

.color-78 {
  background-color: #0f5c1c; }

.color-79 {
  background-color: #0f5c21; }

.color-80 {
  background-color: #0f5c26; }

.color-81 {
  background-color: #0f5c2a; }

.color-82 {
  background-color: #0f5c2f; }

.color-83 {
  background-color: #0f5c33; }

.color-84 {
  background-color: #0f5c38; }

.color-85 {
  background-color: #0f5c3d; }

.color-86 {
  background-color: #0f5c41; }

.color-87 {
  background-color: #0f5c46; }

.color-88 {
  background-color: #0f5c4b; }

.color-89 {
  background-color: #0f5c4f; }

.color-90 {
  background-color: #0f5c54; }

.color-91 {
  background-color: #0f5c58; }

.color-92 {
  background-color: #0f5b5c; }

.color-93 {
  background-color: #0f565c; }

.color-94 {
  background-color: #0f525c; }

.color-95 {
  background-color: #0f4d5c; }

.color-96 {
  background-color: #0f485c; }

.color-97 {
  background-color: #0f445c; }

.color-98 {
  background-color: #0f3f5c; }

.color-99 {
  background-color: #0f3b5c; }

.color-100 {
  background-color: #0f365c; }
