.color-0 {
  background-color: #5880a8; }

.color-1 {
  background-color: #5875a8; }

.color-2 {
  background-color: #586ba8; }

.color-3 {
  background-color: #5860a8; }

.color-4 {
  background-color: #5b58a8; }

.color-5 {
  background-color: #6558a8; }

.color-6 {
  background-color: #7058a8; }

.color-7 {
  background-color: #7b58a8; }

.color-8 {
  background-color: #8558a8; }

.color-9 {
  background-color: #9058a8; }

.color-10 {
  background-color: #9b58a8; }

.color-11 {
  background-color: #a558a8; }

.color-12 {
  background-color: #a858a0; }

.color-13 {
  background-color: #a85895; }

.color-14 {
  background-color: #a8588b; }

.color-15 {
  background-color: #a85880; }

.color-16 {
  background-color: #a85875; }

.color-17 {
  background-color: #a8586b; }

.color-18 {
  background-color: #a85860; }

.color-19 {
  background-color: #a85b58; }

.color-20 {
  background-color: #a86558; }

.color-21 {
  background-color: #a87058; }

.color-22 {
  background-color: #a87b58; }

.color-23 {
  background-color: #a88558; }

.color-24 {
  background-color: #a89058; }

.color-25 {
  background-color: #a89b58; }

.color-26 {
  background-color: #a8a558; }

.color-27 {
  background-color: #a0a858; }

.color-28 {
  background-color: #95a858; }

.color-29 {
  background-color: #8ba858; }

.color-30 {
  background-color: #80a858; }

.color-31 {
  background-color: #75a858; }

.color-32 {
  background-color: #6ba858; }

.color-33 {
  background-color: #60a858; }

.color-34 {
  background-color: #58a85b; }

.color-35 {
  background-color: #58a865; }

.color-36 {
  background-color: #58a870; }

.color-37 {
  background-color: #58a87b; }

.color-38 {
  background-color: #58a885; }

.color-39 {
  background-color: #58a890; }

.color-40 {
  background-color: #58a89b; }

.color-41 {
  background-color: #58a8a5; }

.color-42 {
  background-color: #58a0a8; }

.color-43 {
  background-color: #5895a8; }

.color-44 {
  background-color: #588ba8; }

.color-45 {
  background-color: #5880a8; }

.color-46 {
  background-color: #5875a8; }

.color-47 {
  background-color: #586ba8; }

.color-48 {
  background-color: #5860a8; }

.color-49 {
  background-color: #5b58a8; }

.color-50 {
  background-color: #6558a8; }

.color-51 {
  background-color: #7058a8; }

.color-52 {
  background-color: #7b58a8; }

.color-53 {
  background-color: #8558a8; }

.color-54 {
  background-color: #9058a8; }

.color-55 {
  background-color: #9b58a8; }

.color-56 {
  background-color: #a558a8; }

.color-57 {
  background-color: #a858a0; }

.color-58 {
  background-color: #a85895; }

.color-59 {
  background-color: #a8588b; }

.color-60 {
  background-color: #a85880; }

.color-61 {
  background-color: #a85875; }

.color-62 {
  background-color: #a8586b; }

.color-63 {
  background-color: #a85860; }

.color-64 {
  background-color: #a85b58; }

.color-65 {
  background-color: #a86558; }

.color-66 {
  background-color: #a87058; }

.color-67 {
  background-color: #a87b58; }

.color-68 {
  background-color: #a88558; }

.color-69 {
  background-color: #a89058; }

.color-70 {
  background-color: #a89b58; }

.color-71 {
  background-color: #a8a558; }

.color-72 {
  background-color: #a0a858; }

.color-73 {
  background-color: #95a858; }

.color-74 {
  background-color: #8ba858; }

.color-75 {
  background-color: #80a858; }

.color-76 {
  background-color: #75a858; }

.color-77 {
  background-color: #6ba858; }

.color-78 {
  background-color: #60a858; }

.color-79 {
  background-color: #58a85b; }

.color-80 {
  background-color: #58a865; }

.color-81 {
  background-color: #58a870; }

.color-82 {
  background-color: #58a87b; }

.color-83 {
  background-color: #58a885; }

.color-84 {
  background-color: #58a890; }

.color-85 {
  background-color: #58a89b; }

.color-86 {
  background-color: #58a8a5; }

.color-87 {
  background-color: #58a0a8; }

.color-88 {
  background-color: #5895a8; }

.color-89 {
  background-color: #588ba8; }

.color-90 {
  background-color: #5880a8; }

.color-91 {
  background-color: #5875a8; }

.color-92 {
  background-color: #586ba8; }

.color-93 {
  background-color: #5860a8; }

.color-94 {
  background-color: #5b58a8; }

.color-95 {
  background-color: #6558a8; }

.color-96 {
  background-color: #7058a8; }

.color-97 {
  background-color: #7b58a8; }

.color-98 {
  background-color: #8558a8; }

.color-99 {
  background-color: #9058a8; }

.color-100 {
  background-color: #9b58a8; }
